@import '../node_modules/@angular/material/theming';
// @import "@material/fab/mdc-fab";

// General themes for across the app and those that need access to theming go here
// Styles that affect only things in an individual component should go in that component's scss/css file.
// For more information about Angular Material theming: https://material.angular.io/guide/theming


// The theme.scss file contains variables for theme colors, this allows you to use them in other scss files across the project
@import 'theme';



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once! (this means don't use this styles.scss in other scss files)
@include mat-core();


// This is to be able to theme parts of the app dynamically depending on theme (right now: light or dark)
// You can put styles in this mixin and the theme variables will refer to the actual theme being used (light or dark)
@mixin app-theming($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $is-dark: map-get($theme, is-dark);

  // Define any styles affected by the theme.
  // dark theme

  @if $is-dark {

    .roomHeading, .topMenu {
      background-color: mat-color($background, app-bar) !important;
    }

    .mat-toolbar.mat-primary {
      background: mat-color($background, app-bar);
      color: mat-color($foreground, text);
    }

    mat-sidenav-content {
      background: mat-color($background, app-bar);
    }

    .indicator {
      color: $light-secondary-text !important;
      bottom: 10px;
    }

    .vacant {
      color: #00ee55 !important;
    }

    .inUse {
      color: #ffc520 !important;
    }

    .unavailable {
      color: #aaaaaa !important;
    }

    .roomHeading {
      background-color: mat-color($background, app-bar) !important;
    }
  }

  // light theme and general styling

  mat-sidenav-content {
    background-color: mat-color($primary, 40);
  }

  // Styling for the room selection button that lives at bottom of screen
  @media screen and (min-width: 720px) {
    #all-rooms {
      font-size: 110%;
      font-style: $light-primary-text;

      height: 50px;
      right: 40px;
      bottom: 25px;
      top: auto;
      left: auto;
      position: fixed;
      z-index: 1;
      transition: bottom 1s;
      margin-right: 10px;

      background-color: mat-color($primary);
    }
  }

  #scrollBox {
    display: block;
    position: relative;
    top: -1000px;
  }

  // "Please select a laundry room here" styling
  .topMenu {
    background-color: mat-color($primary, 900);

    margin: 0, -5px, 0px, -5px;
    padding: 5px;
    width: 100%;
    mat-expansion-panel-header {
      background-color: mat-color($primary, 900);
      mat-panel-title {
        font-size: 120%;
        font-style: $light-primary-text !important;
      }
    }

    mat-panel-description {
      background-color: mat-color($primary, 900);
      button {
        width: 200px;
        height: 80px;
        mat-icon {
          width: 20px;
          height: 20px;
          color: white;
        }
      }
    }
  }

  //.roomSelector {
  //  margin: 0, -5px, 0px, -5px;
  //  padding-left: 5px;
  //  padding-right: 5px;
  //  padding-bottom: 25px;
  //  background-color: mat-color($primary, 900);
  //}
  //
  //#home-rooms-card {
  //  font-size: 120%;
  //  font-style: mat-color($mat-umn-gold, 500);
  //
  //  background-color: mat-color($primary, 900);
  //}
  //
  //
  //
  //
  //#roomSelector {
  //  width: 200px;
  //  height: 80px;
  //}

  // Component that Names Room and provides greeting:

  .roomHeading {
    // layout
    padding-top: 5px;
    margin: -10px -5px 10px -5px;
    position: sticky;
    top: 59px;
    z-index: 1;
    max-height: min-content;
    line-height: 1.15;
    //font
    font-style: italic;
    font-weight: 100;
    font-size: 35px;
    // color
    background-color: mat-color($primary, 40);
  }

  .roomHeading mat-card {
    padding: 30px 0;
    height: auto;
  }

  .roomHeading mat-card-title {
    font-size: 35px;
  }

  .roomHeading mat-card-content {
    height: 20px;
    margin-left: 10px;
    font-size: 18px;
  }

  .drawer-list-item-active {
    background-color: mat-color($background, hover) !important;
    color: mat-color($primary) !important;
    .mat-list-icon {
      color: mat-color($primary) !important;
    }
  }

  .sidenav-list {
    .mat-list-icon {
      color: mat-color($foreground, icon);
      margin-right: 16px;
    }
  }
}


// Sets up the theming for built in material components with the light theme
@include angular-material-theme($light-theme);

// Sets up theming for our custom components with the light theme
@include app-theming($light-theme);

.map mat-card {
  margin-left: auto !important;
  margin-right: auto !important;
}
html, body { height: 100%; scroll-behavior: smooth}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// This media query detects if the user has dark-mode turned on on their OS or browser
// If you don't want to apply dark theme automatically,
// you can also make this a normal class and add it to body or html dynamically.
@media (prefers-color-scheme: dark) {
  // Sets up the theming for built in material components with the light theme
  @include angular-material-theme($dark-theme);
  // Sets up theming for our custom components with the light theme
  @include app-theming($dark-theme);
}

.indicator {
  font-size: 14px;
  margin-left: 38px;
  color: $dark-secondary-text;
}

.roomName {
  font-size: 18px;
}

mat-card {
  margin-top: 25px;
  margin-bottom: 25px;
}

mat-icon {
  margin-right: 25px;
}

#roomSelector, #allRooms {
  text-align: left;
}

.room mat-icon {
  margin-right: 15px;
}

.room.mat-card {
  box-shadow: none !important;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 850px;
  margin: 0 auto 15px;
}

.room button {
  margin: 5px;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.machines.mat-expansion-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none !important;
}

.home {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.menuLabel.mat-icon.notranslate.material-icons.mat-icon-no-color{
  margin-left: 9px;
}

.vacant {
  color: #007700;
}

.inUse {
  color: #999900;
}

.unavailable {
  color: #555555;
}

.map.mat-card {
  margin-left: auto !important;
  margin-right: auto !important;
}

.main-content.mat-typography {
  margin: 5px !important;
}

.allMachinesPanel .mat-expansion-panel-body {
  padding: 0;
}

.roomSelector.mat-expansion-panel {
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile mat-card {
  margin: 10px;
}

.reportButton {
  padding: 0 0 !important;
  font-style: italic;
  font-size: 90%;
  position: absolute;
  left: 0;
  height: 36px;
  bottom: 28px;
  border-radius: 18px !important;
}

.reportButton:hover {
  text-decoration-line: underline;
}
.cardType {
  font-style: italic;
  color: #999;
}

#predictionGraphTitle {
  white-space: nowrap;
  max-width: 100px;
}

.machineName {
  white-space: nowrap;
}

.mat-card-content {
  height: auto;
}

.welcomeMessage {
  line-height: 1.15;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
}

.welcomeMessage div {
  margin: 5px 0;
}

.roomStatus mat-icon {
  font-size: 16px;
  margin-right: 0;
}

.roomStatus {
  font-style: italic;
  font-size: 15px;
  margin-right: 12px;
  display: inline-block;
}

mat-dialog-container {
  padding: 20px !important;
  height: 120%;
}

mat-dialog-container .mat-card-content {
  width: 90%;
}

mat-dialog-container .machineName {
  white-space: normal;
  display: block;
}

mat-dialog-container .reportButton {
  position: sticky;
  bottom: -25px;
}
