@import '../node_modules/@angular/material/theming';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$light-primary: mat-palette($mat-blue-grey, 500); // 500 is the base hue of a Material color

 // The 200 here makes the indigo color lighter
 // Material Design dark themes should use a desaturated versions of primary and accent colors
 // See: https://material.io/design/color/dark-theme.html
$dark-primary: mat-palette($mat-blue-grey, 200);

$light-accent: mat-palette($mat-blue-grey, A200);
$dark-accent: mat-palette($mat-blue-grey, A100);

// The warn palette is optional (defaults to red).
$light-warn: mat-palette($mat-blue-gray, 100); // Without a hue given, it defaults to 500
$dark-warn: mat-palette($mat-blue-gray, 800);

// Create the theme object for a light theme (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Create the theme object for a dark theme (a Sass map containing all of the palettes).
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
