<div layout-gt-sm="row" class="home">
  <div flex-gt-sm="80" flex-offset-gt-sm="10"  id="mainBody" style="margin-bottom: 70px">

    <button mat-raised-button color="warn" id="all-rooms" (click)="hideSelector(); scroll('scrollBox'); setSelector(0);">
      <i class="material-icons" style="margin-right: 10px !important;">store_mall_directory</i>Select Rooms
    </button>

    <div id="scrollBox" style="display: block; position: relative; top: -65px"></div>

    <mat-expansion-panel [expanded]="selectorState === 0" (opened)="setSelector(0); hideSelector()">

      <mat-expansion-panel-header>
        <mat-panel-title id="home-rooms-card">Please select a laundry room here</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-panel-description style="font-weight: 400;">
        <mat-card class="room">
          <mat-accordion *ngIf="rooms; else roomsError">

            <button id="roomSelector" mat-button style="width: 200px; height: 80px"
                     *ngFor="let room of this.rooms" (click)="updateRoom(room.id, room.name)">
              <mat-icon style="width: 20px; height: 20px">store_mall_directory</mat-icon>
              <a class="roomName" [id]="room.id">
                <a id="{{room.id + 'Id'}}">{{room.name}}</a><br>
                <a class="indicator" id="{{room.id + 'Availability'}}">{{room.numberOfAvailableMachines}} / {{room.numberOfAllMachines}} vacant</a>
              </a>
            </button>

            <button id="allRooms" mat-button style="width: 200px; height: 80px" class="rooms"
                    (click)="updateRoom('', 'All Rooms')">
              <mat-icon>store_mall_directory</mat-icon>
              <a class="roomName" [id]="'empty'">All Rooms</a><br>
              <a class="indicator" id="{{'allRoomsAvailability'}}">{{this.numOfVacant}} / {{this.numOfAll}} vacant</a>
            </button>

          </mat-accordion>
          <ng-template #roomsError>
            <div class="noRoomFoundMessage" style="color:#999">Cannot find any room currently. Please try again later.</div>
          </ng-template>
        </mat-card>
      </mat-panel-description>

    </mat-expansion-panel>

    <div flex-gt-sm="80" flex-offset-gt-sm="10" id="allMachineList" style="display: none">
      <mat-card>
        <mat-card-title id="home-machines-card-washer" style="font-weight: unset; padding-left: 8px; font-size: 15px">Washers {{this.machineListTitle}}</mat-card-title>

        <mat-accordion *ngIf="machines && numOfWashers > 0; else machinesError">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="washers" [id]="machine.id" *ngIf="machine.status==='normal' && machine.type==='washer' && machine.running==false">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="vacant">
                  <mat-icon>local_laundry_service</mat-icon>
                  This {{machine.type}} has been vacant for {{machine.vacantTime}} minutes.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description>ID: {{machine.id}}</mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>

        <mat-accordion *ngIf="machines">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="washers" [id]="machine.id" *ngIf="machine.status==='normal' && machine.type==='washer' && machine.running==true">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="inUse">
                  <mat-icon>local_laundry_service</mat-icon>
                  This {{machine.type}} will be vacant in {{machine.remainingTime}} minutes.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description><div [id]="machine.id">ID: {{machine.id}}</div></mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>
      </mat-card>

      <mat-card>
        <mat-card-title id="home-machines-card-dryer" style="font-weight: unset; padding-left: 8px; font-size: 15px">
          Dryers {{this.machineListTitle}}</mat-card-title>

        <mat-accordion *ngIf="machines && numOfDryers > 0; else machinesError">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="dryers" *ngIf="machine.status==='normal' && machine.type==='dryer' && machine.running == false">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="vacant">
                  <mat-icon>fireplace</mat-icon>
                  This {{machine.type}} has been vacant for {{machine.vacantTime}} minutes.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description><div [id]="machine.id">ID: {{machine.id}}</div></mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>

        <mat-accordion *ngIf="machines">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="dryers" *ngIf="machine.status==='normal' && machine.type==='dryer' && machine.running == true">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="inUse">
                  <mat-icon>fireplace</mat-icon>
                  This {{machine.type}} will be vacant in {{machine.remainingTime}} minutes.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description><div [id]="machine.id">ID: {{machine.id}}</div></mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>
      </mat-card>

      <mat-card>
        <mat-card-title id="home-machines-card-broken" style="font-weight: unset; padding-left: 8px; font-size: 15px">
          {{this.brokenMachineListTitle}}</mat-card-title>

        <mat-accordion *ngIf="machines && numOfBroken > 0; else machinesError">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="brokens" *ngIf="machine.status==='broken' && machine.type==='washer'">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="unavailable">
                  <mat-icon>local_laundry_service</mat-icon>
                  {{machine.type}}</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description><div [id]="machine.id">ID: {{machine.id}}</div></mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>

        <mat-accordion *ngIf="machines">
          <mat-accordion *ngFor="let machine of this.filteredMachines">
            <mat-expansion-panel #elem class="brokens" *ngIf="machine.status==='broken' && machine.type==='dryer'">
              <mat-expansion-panel-header>
                <div class="visualBox"> </div>
                <mat-panel-title class="unavailable">
                  <mat-icon>fireplace</mat-icon>
                  {{machine.type}}</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-panel-description>Status: {{machine.status}}</mat-panel-description>
              <mat-panel-description>Room: {{machine.room_id}}</mat-panel-description>
              <mat-panel-description>Running: {{machine.running}}</mat-panel-description>
              <mat-panel-description><div [id]="machine.id">ID: {{machine.id}}</div></mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-accordion>

        <ng-template #machinesError>
          <div class="noMachineFoundMessage" style="padding: 20px; color: #999">There is no machine to display within the section currently.</div>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
