<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card id="home-page-card">
      {{this.text}}
    </mat-card>

    <mat-grid-list cols = "2" rowHeight = "400px" >
      <mat-grid-tile
        [style.backgroundColor] = "'black'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" Gay Hall" color="accent" #input type="button" >Gay Hall
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'black'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" Independence Hall" color="accent" #input type="button" >Independence Hall
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'cyan'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" Blakely Hall" color="accent" #input type="button" >Blakely Hall
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'cyan'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" Spooner Hall" color="accent" #input type="button" >Spooner Hall
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'cyan'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id="Green Prarie" color="accent" #input type="button" >Green Prarie
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'cyan'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" Pine Hall" color="accent" #input type="button" >Pine Hall
        </button>
      </mat-grid-tile>
      <mat-grid-tile
        [style.backgroundColor] = "'cyan'"
        [colspan] = "1"
        [rowspan] = "1">
        <button mat-icon-button id=" All Machines" color="primary" #input type="button" >All Machines
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
