#home-page-card {
  margin-top: 10px;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

#all-rooms{
  height: 50px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  border-radius: 25px;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  #all-rooms {
    right: 30px;
  }
}
