<mat-card class="add-sub"
          style="padding: 0 !important; margin: 0 !important; width: 98.75% !important; height: 98.75% !important; box-shadow: none !important">
  <form [formGroup]="addSubForm">
    <h2 mat-dialog-title>New Subscription</h2>
    <p class="sub-title">
      Notify me when one type of the machines in {{this.name}} is available
    </p>
    <form [formGroup]="options" style="display: inline">
      <mat-radio-group #input id="typeField" [(ngModel)]="data.subscription.type" formControlName="type" required>
        <mat-radio-button class="subTypeButton" [value]="'washer'" [checked]="this.outOfWashers && !this.outOfDryers"
                          [disabled]="!this.outOfWashers" color="warn">Washer
        </mat-radio-button>
        <mat-radio-button class="subTypeButton" [value]="'dryer'" [checked]="!this.outOfWashers && this.outOfDryers"
                          [disabled]="!this.outOfDryers" color="warn">Dryer
        </mat-radio-button>
      </mat-radio-group>
    </form>
    <p class="sub-detail">Subscribe to receive an email when the room has a vacant machine. We will only send the
      notification once.</p>

    <mat-dialog-content layout="row" style="display: inline; ">
      <mat-form-field style="max-height: 10px !important;" flex>
        <input matInput #input id="emailField" placeholder="Email" [(ngModel)]="data.subscription.email"
               formControlName="email" required>
        <mat-error *ngFor="let validation of add_sub_validation_messages.email">
          <mat-error class="error-message" id='email-error'
                     *ngIf="addSubForm.get('email').hasError(validation.type) && (addSubForm.get('email').dirty || addSubForm.get('email').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-dialog-actions layout="row" style="display: inline; height: 50px !important;">

        <button mat-raised-button id="confirmAddSubButton" [mat-dialog-close]="data.subscription" type="button"
                color="warn"
                [disabled]="!addSubForm.valid || data.subscription.type === '' ">Subscribe
        </button><br>
        <button mat-icon-button id="exitWithoutAddingButton" [mat-dialog-close]="null" type="button"><mat-icon style="margin: auto !important">close</mat-icon></button>
      </mat-dialog-actions>
    </mat-dialog-content>
  </form>
</mat-card>

