#home-page-card {
  margin-top: 10px;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

.room.mat-card {
  margin:0;
  box-shadow: unset;
}

.machines.mat-expansion-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: unset;
}
