<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="sidenav-list">

      <mat-list-item routerLink="/" routerLinkActive="drawer-list-item-active" #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        [routerLinkActiveOptions]="{exact: true}" (click)="drawer.close()">
        <mat-icon matListIcon>home</mat-icon>
        Home
      </mat-list-item>

      <mat-list-item href="#" routerLink="/users" routerLinkActive="drawer-list-item-active" (click)="drawer.close()">
        <mat-icon matListIcon>people</mat-icon>
        Users
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">THE WEB APP</span>
    </mat-toolbar>
    <div class="main-content mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
